/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/*
  Base Font: 16px
  Base Line-Height: 22px
  Modular Scale: 1.25 (https://www.modularscale.com/?16&px&1.25)
*/

html {
  background: #FBFDFD;
  color: #262626;
  font-family: "Noto Serif TC", Georgia, serif;
  font-size: 1em;
  line-height: 1.375em; /* 22px / 16px */
}

main {
  padding: 0.6875em; /* 11px / 16px */
}

h1 {
  background: linear-gradient(45deg, #3a0b42, #469696);
  color: #FBFDFD;
  font-size: 1.563em;
  line-height: 1.375em; /* Adds another 22px */
  padding: 0.6875em; /* (22px / 2) / 16px */
  text-shadow: 0.0625em 0.0625em 0.3125em #ffbab3;
}

h1 > a {
  text-decoration: none;
  color: inherit;
}

h2, label {
  color: #3a0b42;
  font-size: 1.205em;
  line-height: 1.71875em; /* (22px + 22/4px) / 16 */
}

p {
  font-size: 0.8em;
  line-height: 1.25em; /* 20px / 16px */
  padding-bottom: 1.375em; /* 22px / 16px */
}

input {
  background-color: #469696;
  border: 0;
  color: #262626;
  box-sizing: border-box; /* Avoid horizontal scrolling */
  font-family: "Noto Sans TC", Verdana, sans-serif;
  font-size: inherit;
  line-height: 1.71875em; /* Same as label height */
  margin: 0;
  outline: 0;
  padding: 0.3125em; /* 5px / 16px */
}

#submit {
  background-color: #816386;
  color: #FBFDFD;
  font-family: "Noto Sans TC", Verdana, sans-serif;
  margin-top: 1.71875em; /* Match line-height of Label text */
}

input:active,
input:focus {
  background-color: #9ac5c5;
}

label,
input[type="radio"],
#submit {
  cursor: pointer;
}

input:hover,
input[type="radio"]:focus {
  outline: 0.0625em auto #469696;
}

#submit:hover,
#submit:active,
#submit:focus {
  background-color: #6f7d96;
}

.field {
  padding-bottom: 0.6875em; /* 11px / 16px */
}

.field > label {
  color: #3a0b42;
  display: inline-block;
}

.field > input {
  width: 100%;
}

#email-error,
#name-error {
  color: #262626;
  display: inline-block; /* Shares line with label */
  font-size: 0.64em;
  line-height: 1.71875em; /* Same as label */
  padding-bottom: 0;
  padding-left: 1.71875em;
  text-decoration: underline;
  vertical-align: 5%; /* Line-up bottom of underline with label */
}

#submit:disabled {
  opacity: 0.7;
}

#submit:disabled:hover {
  background-color: #344868;
  cursor: not-allowed;
}

@media screen and (min-width: 720px) {

  html {
    font-size: 1.25em;
    line-height: 1.375em; /* 22px / 16px */
  }

  main {
    margin-left: 5%;
    margin-right: 35%;
  }

  h1 {
    font-size: 1.953em;
    line-height: 1.375em; /* Adds another 22px */
    padding: 0.6875em; /* (22px / 2) / 16px */
  }

  form {
    border: #816386 0.0625em solid;
    padding: 0.6875em; /* (22px / 2) / 16px */
  }

}
